.banner{
    font-size: 10rem;
    color: white;
    object-fit: contain;
    /* height: 450px; */
    height: 45rem;
    margin-left: 3rem;
    background: rgba(255,255,255,0.3);
}
.banner_contents{
    /* height: 190px; */
    height: 19rem;
    color: white;
    margin-left: 3rem;
    padding-top:140rem;
    background: green;
}
.banner_description{
    font-size: 5rem;
}