.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    height: 5rem;
    z-index: 1;
    transition: 0.6s ease-in;
}
.nav_black{
    background: #000;
}
.nav_logo{
 width: 8rem;
 /* height: 4rem; */
 object-fit: contain;
}
.nav_avatar{
    width: 1.9rem;
    object-fit: contain;
}